@page
@model BlogOfUyen.Pages.AboutModel
@{
    ViewData["Title"] = "About me";
}

<div class="container">
    <div style="margin-top: 5.5%">
        <img src="~/images/About/1.png" width="100%" />
    </div>
    <div class="content">
        <h1 class="text-center" style="margin-top:3%; margin-bottom:3%">Chúng mình làm quen nhé???</h1>
        <p class="lead" style="text-align:center">
            Chào mọi người, mình là Uyên, mình sinh năm 2000, cung Ma Kết
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z" />
            </svg>
        </p>
    </div>

    <style>
        

        .profile-sidebar {
            margin: 5% auto;
        }


        .profile-userpic > img {
            float: none;
            width: 50%;
            height: 50%;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            border-radius: 50% !important;
        }


        .profile-usertitle {
            text-align: center;
            margin-top: 20px;
        }


        .profile-usertitle-name {
            color: #5a7391;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 7px;
        }


        .profile-usertitle-job {
            text-transform: uppercase;
            color: #5b9bd1;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .profile-userinfo .row {
            margin-top: 3%;
        }

        .profile-userinfo .row svg {
            margin-right: 3%;
            margin-left: 5%;
        }

        #info .row > a:hover {
            text-decoration: none;
            color: #6A0888;
        }
    </style>

    <div class="content">
        <div class="row" style="margin-top: 5.5%">
            <div class="col-md-4">
                <div class="card profile-sidebar rounded-sm shadow" style="background: #E3CEF6; padding: 20px; margin-bottom: 20px; margin-top: -0.5px">
                    <div class="profile-userpic">
                        <img src="~/images/About/avatar.jpg" class="img-responsive" alt="Ảnh đại diện" style="margin-left: 26.5%" />
                    </div>
                    <div class="profile-usertitle card-body">
                        <div class="profile-usertitle-name card-title">Nguyễn Thị Thu Uyên</div>
                        <div class="profile-usertitle-job card-title">Sinh viên IT</div>
                    </div>

                    <div class="profile-userinfo card-text" id="info">
                        <div class="row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                            </svg>
                            Đang học tại Đại học Mở TPHCM
                        </div>
                        <div class="row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                            </svg>
                            Sống tại Thành phố Hồ Chí Minh
                        </div>
                        <div class="row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                            </svg>
                            Đến từ Quảng Ngãi
                        </div>
                        <div class="row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                            </svg>
                            <a href="https://www.facebook.com/nttu.dqt/">Uyên Nguyễn</a>
                        </div>
                        <div class="row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-instagram" viewBox="0 0 16 16">
                                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                            </svg>
                            <a href="https://www.instagram.com/uyennguyen0721/">uyennguyen0721</a>
                        </div>
                        <div class="row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                            <a href="https://github.com/uyennguyen0721">https://github.com/uyennguyen0721</a>
                        </div>
                        <div class="row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg>
                            <a href="mailto:uyennguyen0721@gmail.com">uyennguyen0721@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card rounded-sm shadow" style="padding: 20px; margin-bottom: 20px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center">Tháng 1 - Ma Kết</h4>
                        <p class="card-text">Tính cách của những ai sinh vào tháng 1:</p>
                        <p class="card-text" style="text-align:justify">
                            "Bạn thuộc típ người cứng đầu và có một trái tim sắt đá. Cho nên bạn là con người của tham vọng và luôn nghiêm túc trong mọi việc.
                            Bạn thích được chỉ bảo người khác cũng như là được người khác chỉ bảo. Tuy nhiên bạn hay suy xét những sai sót hay điểm yếu của
                            người khác vì vậy bạn rất thích chỉ trích. Trong công việc, bạn làm việc chăm chỉ và hiệu quả. Bạn thật sự là người biết cách làm
                            người khác vui lòng nhưng bạn lại là một người trầm tính, ít nói trừ khi bạn thực sự cảm thấy vui vẻ hoặc tức giận. Bạn cũng khá là
                            bảo thủ nữa. Bạn luôn biết cách chăm sóc bản thân, bạn ít khi bị bệnh gì nặng nhưng lại hay cảm vặt. Bạn thuộc týp người lãng mạn đó
                            nhưng bạn lại không biết cách biểu lộ tình yêu cho lắm. Bạn yêu thích trẻ con. Bạn đề cao lòng trung thành. Bạn là con người rất biết
                            giao tiếp nhưng lại hay ghen. Còn đối với chuyện tiền bạc thì bạn là một con người rất cẩn trọng."
                        </p>
                        <p class="card-text" style="text-align:right"><i>Nguồn: Facebook</i></p>
                        <p class="card-text" style="text-align:justify">
                            Các bạn sinh vào tháng 1 thấy tính cách của mình có giống vậy không chứ tôi thì giống đến 80% luôn í
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
                                <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z" />
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z" />
                            </svg>
                        </p>

                    </div>
                </div>
                <div class="card rounded-sm shadow" style="padding: 20px; margin-bottom: 20px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center">Âm nhạc - Nguồn sức mạnh vô hình</h4>
                        <p class="card-text" style="text-align:justify">
                            Những lúc căng thẳng, tinh thần sa sút, chỉ cần bật một bài nhạc vui tươi, sôi động, chúng ta sẽ lấy lại tinh thần ngay lập tức và tâm trạng sẽ cân bằng trở lại.
                            Tôi - một sinh viên IT - luôn đối mặt với những deadline, đồ án thì âm nhạc luôn là một phần không thể thiếu. Những bạn học CNTT chắc có lẽ sẽ hiểu được cảm giác
                            code bị bug và câu chuyện fix bug luôn là một nỗi ám ảnh. Ngồi hàng giờ để code và sau đó lại ngồi hàng giờ để fix bug, nghĩ thôi cũng cảm thấy đáng sợ rồi. Những lúc
                            như vậy thì chúng ta sẽ trở nên căng thẳng và mệt mỏi hơn. Nhưng với việc dừng lại và nghe một bài nhạc khiến tâm trạng bạn vui thì mọi cảm giác mệt mỏi căng thẳng cũng
                            từ đó sẽ phai dần đi. Và tôi cũng đã áp dụng "phương pháp đơn giản" đó để vượt qua những mùa deadline đầy căng thẳng. Và dường như âm nhạc đã trở thành một phần không
                            thể thiếu trong cuộc sống của tôi. Thật không ngoa khi nói âm nhạc là một nguồn sức mạnh vô hình.
                        </p>
                        <p class="card-text">Còn bạn thì sao, bạn có giống với tôi không?</p>
                    </div>
                </div>
                <div class="card rounded-sm shadow" style="padding: 20px; margin-bottom: 20px;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center">Hành trình đến với Công nghệ thông tin</h4>
                        <p class="card-text" style="text-align:justify">
                            Có nhiều bạn học Công nghệ thông tin sẽ đặt ra nhiều câu hỏi cho bản thân rằng mình có thực sự đam mê nó hay mình có theo nỗi nghề này không,... Lúc trước tôi cũng vậy,
                            cũng hay đặt ra những câu hỏi kiểu như thế. Nhớ vào buổi học đầu tiên của năm nhất, đó là môn Nhập môn Tin học, giảng viên hỏi rất nhiều câu hỏi về lĩnh vực công nghệ
                            thông tin như các công nghệ, kỹ thuật mới,... Thật sự lúc đó mình không biết gì cả và cũng chưa từng nghe qua. Với một sinh viên CNTT mà lại nói thế thì thật buồn cười nhỉ.
                            Nguyên buổi học hôm đó, tôi cảm thấy đầu óc mình rỗng toét vì những kiến thức xa lạ. Nhìn bạn bè xung quanh đều xung phong trả lời câu hỏi, tôi càng cảm thấy mình hình như đã 
                            chọn sai ngành rồi, liệu rằng mình có thể ra trường được không,... Tôi cảm thấy lo sợ cho tương lai của mình. <br />
                            Với những bạn sinh viên IT năm nhất khi mới bước chân vào trường, họ sẽ trang bị cho mình ít nhiều những kiến thức hay một số hiểu biết về CNTT. Nhưng tôi thì không, tôi chã biết 
                            gì về nó. Khi còn học Trung học, đến chương trình Pascal tôi cũng chẳng hề biết viết nhưng tôi lại chọn học CNTT. Đến bây giờ nghĩ lại vẫn không hiểu lúc đó sao lại dũng cảm đến vậy.
                            Hồi Trung học, tôi học ban B (Toán, Hóa, Sinh) và tôi muốn được vào trường YDS. Nhưng hiện thực đã đập thẳng vào mặt tôi khi số điểm của tôi chỉ đậu Dược Huế và Đà Nẵng không thể đậu 
                            vào YDS, ngôi trường mà tôi mơ ước. Tôi thì lại muốn học ở SG nên đã đi đến một quyết định táo bạo là chuyển từ ban B sang ban A và tôi đã chọn CNTT. Và đó là kết quả dẫn đến sự việc 
                            tôi kể trên. <br />
                            Ban đầu là thế, nhưng sau này tôi phát hiện mình cũng có hứng thú với ngành này. Mỗi lần viết xong một chương trình mà nó chạy đúng hay làm ra một game nho nhỏ cho mình dùng thì tôi 
                            cảm thấy thật vui sướng pha lẫn chút tự hào và dần dần tôi cũng có đam mê về lập trình và học tập tốt lên. Và tôi phát hiện ra lúc đầu tôi không biết chỉ vì tôi chưa thực sự tìm hiểu về nó.
                            Chỉ khi bản thân thực sự nổ lực thì mới có thể tốt lên được. Không thể phủ nhận rằng các thầy cô đã luôn tận tâm, nhiệt huyết, tận tình với sinh viên, tạo động lực để tôi có thể thay đổi tốt hơn như hiện tại. <br />
                        </p>
                        <p class="card-text">Đó là câu chuyện của tôi, còn bạn?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

