@page "/Stories/Story5"
@model BlogOfUyen.Pages.Story5Model
@{
    ViewData["Title"] = "Stories 5";
}

<style>
    #content > p {
        text-align: justify;
    }
    pre {
        border: 1px solid rgba(0,0,0,.1);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 24px;
        max-width: 100%;
        overflow: auto;
        padding: 12px;
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: monospace,serif;
        font-size: 15px;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        line-height: 1.6;
    }
</style>

<div class="container">
    <div style="margin-top: 5.5%">
        <img src="~/images/Stories/3.jpg" width="100%" />
    </div>
    <div class="content">
        <h1 class="text-center" style="margin-top:3%; margin-bottom:3%">Chuyện của code - Từ chuyện con ếch luộc,chuyện tán gái cho tới chuyện chàng lập trình viên</h1>
        <p style="text-align:center"><i>Nguồn: Toidicodedao - Series chuyện code chuyện đời</i></p>
    </div>
    <div class="content" style="margin-top: 5.5%" id="content">
        <h2>Từ chuyện con ếch luộc</h2>
        <p>Xin bắt đầu bài viết bằng một câu chuyện tưởng chừng nhảm nhí mà lại vô cùng xâu xắc. (Bạn nào không thích đọc truyện thì cứ <b>kéo xuống đọc phần cuối</b> nha).</p>
        <pre>Ngày xửa ngày xưa có 1 con ếch luộc. À mà không phải, có một con ếch chưa bị luộc.

Một ngày nọ, ếch ta đang thơ thẩn nhảy tới nhảy lui bên bờ hồ, tìm các em ếch cái xinh tươi để giao phối . Bỗng dưng, một thanh niên cao to sáu múi từ đâu chui ra, lấy tay bắt ếch cho vào giỏ.

Thanh niên sáu múi nấu một nồi nước sôi, thả vào tỏi, gừng, chanh, hành, ớt để làm lẩu ếch, mùi thơm bốc lên ngào ngạt. Chú ếch bị <strong>thả vào nồi nước sôi sùng sục</strong>. Hoảng quá, chú nhảy vội ra khỏi nồi chuồn mất. Ếch ta may mắn thoát chết!

Một hôm khác, ếch ta lại bị một em gái xinh tươi dáng cao ngực khủng bắt về. Lần này, ếch bị thả vào nồi nước lạnh. Em gái kia nấu ăn khá giỏi, vặn lửa nhỏ liu riu để thịt ếch được mềm hơn.

Nước lạnh <strong>từ từ ấm dần lên</strong>, cái ấm áp làm ếch cảm thấy thoải mái, dễ chịu. Ếch không nhận ra <strong>nước ngày càng nóng và sắp sôi</strong>. Đến khi nước sôi sùng sục, ếch ta đã quá mệt mỏi, không nhảy ra được nữa.

Ếch kết thúc kiếp người (nhầm, kiếp ếch) trong nồi nước, trờ thành ếch luộc, ếch xào lăn, ếch chiên mắm...</pre>
        <div style="text-align:center; margin-top: 5%; margin-bottom: 5%">
            <img src="~/images/Stories/anhminhhoa12.jpg" loading="lazy" width="40%" alt="ảnh minh họa" />
        </div>
        <p>Bài học rút ra từ câu chuyện này là gì? Đó là luộc ếch phải luộc bằng nước lạnh, không được luộc bằng nước sôi? Đừng vội, đọc đến cuối bài sẽ biết.</p>
        <h2>Đến chuyện tán gái</h2>
        <p>Hết chuyện con ếch luộc, chúng ta lái qua đến chuyện tán gái. Hầu hết dân lập trình viên chúng ta đều là dân FA, lúc nào cũng mong muốn tìm được một con gấu để <b>tâm sự sẻ chia</b>, sẵn tìm chỗ để chui ra chui vào.</p>
        <p>Do ít kinh nghiệm chuyện tình cảm, chúng ta hễ mới thấy em gái nào xinh xinh, nói chuyện hợp một tí là mơ mộng lung tung, đặt em lên bệ thờ, sau đó tỏ tình chớp nhoáng.</p>
        <p>Điều này cũng tương tự như việc thả con ếch vào nồi nước sôi, dĩ nhiên em gái kia sẽ quá sợ hãi, nhảy đi mất.</p>
        <p>Thay vào đó, hãy tán gái như kiểu luộc ếch, từ từ thâm nhập vào cuộc sống của nàng, lâu lâu nhắn tin quan tâm săn sóc tình cảm, lâu lâu cũng phải làm giá, <b>tỏ ra mình cũng có cuộc sống riêng</b> (Đọc thêm Alpha Art nhé).</p>
        <h2>Bài học rút ra</h2>
        <p>Tất nhiên, không phải rỗi hơi mà mình dùng chuyện con ếch và chuyện tán gái để nói đến chuyện lập trình! Hai câu chuyện trên đều có một bài học chung:</p>
        <pre>Con người thường <strong>phản xạ rất nhanh</strong> trước những biến đổi đột ngột, nhưng lại <strong>không hề phòng bị</strong> trước những biến đổi từ từ. 
Người ta gọi cái này là <strong>hội chứng ếch luộc</strong>, tức <em>boiling frog syndrome</em>.</pre>
        <p>Một ví dụ rất đơn giản: Giả sử bạn làm rơi một tờ 500k, bạn sẽ biết ngay lập tức. Còn con gấu của bạn mỗi ngày rút bóp của bạn lấy 20k đi ăn bánh tráng trộn, bạn sẽ mất tiền dần dần mà không hay biết gì.</p>
        <h2>Và chuyện học công nghệ</h2>
        <p>Là lập trình viên, chúng ta cũng rất dễ <b>dính phải hiệu ứng ếch luộc</b>, đặc biệt là trong chuyện viết code và chuyện làm mới kiến thức.</p>
        <h3>Chuyện viết code</h3>
        <p>Đôi khi, do bị deadline dí, do lười, do thời gian có hạn, chúng ta thường <b>viết code ẩu tả, copy code</b>, bỏ qua những lỗi nhỏ. Ban đầu, chúng ta nghĩ những lỗi nhỏ này sẽ không ảnh hưởng nhiều, khi nào có thời gian rảnh rồi quay lại sửa.</p>
        <p>Thế rồi, ngày qua ngày, dự án ngày càng phình to ra. Những lỗi nhỏ nhặt này ngày càng chồng chất, tạo thành technical debt. Code trở nên rối như canh hẹ, khó viết khó bảo trì.</p>
        <p>Đến lúc này, dự án cũng đã <b>trở thành một nồi nước sôi</b>, lập trình viên chúng ta <b>cũng như con ếch luộc</b>, chỉ còn cách phơi bụng phơi trym chờ chết. Mọi chuyện xảy ra chỉ vì chúng ta lơ là, <b>để nước sôi dần dần</b> mà không hay biết.</p>
        <h3>Chuyện làm mới kiến thức</h3>
        <p>Trong ngành IT mình, kiến thức mới liên tục được ra đời và cập nhât. Điển hình như các framework JavaScript ra đời liên tục, hoặc Silverlight chết, WebForm thoi thóp.</p>
        <p>Bản thân lập trình viên chúng ta là những con ếch. Một công việc ổn định cũng giống như một nồi nước vậy. Những thay đổi về công nghệ chỉ làm nước nóng dần dần, thoạt nhìn nó <b>chẳng ảnh hưởng mấy đến ta</b>, chỉ làm ta ấm áp chút mà thôi.</p>
        <p>Tuy nhiên, nếu không chịu update công nghệ mới, sau vài ba năm kĩ năng của bạn sẽ <b>rất dễ lạc hậu</b>!</p>
        <p>Hãy nghĩ tới những lập trình viên Flash đã <b>trở nên thất nghiệp</b> khi Flash tử ẹo; hoặc những người cắm đầu code jQuery mấy năm, giờ khó xin việc vì toàn thấy tuyển Angular, Vue, React. (Nước ngoài thôi nhé, ở Việt Nam jQuery còn tuyển kha khá).</p>
        <div style="text-align:center; margin-top: 5%; margin-bottom: 5%">
            <img src="~/images/Stories/anhminhhoa13.jpg" loading="lazy" width="40%" alt="ảnh minh họa" />
        </div>
        <p>Thị trường tìm việc <b>rất vô tình</b>, các công ty chỉ tuyển nhân viên đáp ứng các kĩ năng cần thiết. Khi thị trường <b>không còn cần các kĩ năng của bạn</b>, số phận bạn cũng như con ếch luộc nước sôi kia, khoe bụng khoe trym chờ chết.</p>
        <h2>Kết</h2>
        <p>Bài viết cũng đã dài rồi, nên mình kết ngắn gọn thôi. Lời khuyên duy nhất cho các bạn là:</p>
        <pre>Hãy trở thành một con ếch thông minh, ham học hỏi, chịu khó quan sát môi trường xung quanh nhé. Nếu không cẩn thận, <strong>bạn sẽ bị luộc chín</strong> lúc nào không biết đấy!</pre>
    </div>
</div>
