@page "/Stories/Story1"
@model BlogOfUyen.Pages.Story1Model
@{
    ViewData["Title"] = "Stories 1";
}

<style>
    pre {
        border: 1px solid rgba(0,0,0,.1);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 24px;
        max-width: 100%;
        overflow: auto;
        padding: 12px;
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: monospace,serif;
        font-size: 15px;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        line-height: 1.6;
    }
    img {
        -ms-interpolation-mode: bicubic;
        border: 0;
        vertical-align: middle;
    }
</style>

<div class="container">
    <div style="margin-top: 5.5%">
        <img src="~/images/Stories/1.jpeg" width="100%" />
    </div>
    <div class="content">
        <h1 class="text-center" style="margin-top:3%; margin-bottom:3%">Chuyện của code - Lại chuyện tình yêu và chuyện kinh nghiệm code</h1>
        <p style="text-align:center"><i>Nguồn: Toidicodedao - Series chuyện code chuyện đời</i></p>
    </div>
    <div class="content" style="margin-top: 5.5%">
        <p>Đa phần dân developer tụi mình là những thanh niên suốt ngày cắm mặt vào code, không thích quan hệ xã giao nên <b>dễ bị FA, ít có gấu</b>.</p>
        <p>Do vậy, đối với nhiều bạn developer FA, tình iu là cái thứ gì đó mình mong muốn nhưng tìm hoài không có, hoặc chỉ thấy trên Voz hoặc mương 14 chứ chưa từng trải nghiệm bao giờ.</p>
        <p>Ủa mà, nói đi nói lại thì, tình iu là tình yêu, còn code là code, hai thứ này <b>thế quái nào mà liên quan với nhau</b> cho được???</p>
        <p>Ấy vậy mà có đấy! Dưới khả năng chém gió siêu phàm của Code Dạo thì mấy cái xô và vài con bug còn liên quan đến nhau, tại sao tình yêu và kinh nghiệm code lại không cơ chứ!</p>
        <p><b>Bật mí</b>: Nó sẽ giải thích vì sao có nhiều người làm lâu, kinh nghiệm nhiều nhưng lương cứ mãi lèo tèo, không phát triển được đấy.</p>
        <h2>Chuyện tình cảm và thời gian yêu đương</h2>
        <p>Gần đây, mình có đọc cuốn Nơi em quay về có tôi đứng đợi của Ichikawa Takuji. Sách viết về một câu chuyện tình sâu lắng, hơi buồn buồn và bi kịch một chút nhưng vẫn rất nhẹ nhàng, đọc cũng khá thoải mái.</p>
        <div style="text-align:center; margin-top: 5%; margin-bottom: 5%">
            <img src="~/images/Stories/anhminhhoa.jpg" loading="lazy" width="40%" alt="ảnh minh họa" />
        </div>
        <p>Thế rồi, đến chương gần cuối, mình bỗng đọc được một câu thoại khá hay và “đắt giá”.</p>
        <pre class="ms_text">“Bây giờ tôi cảm thấy, yêu một người vẫn là một việc rất tuyệt vời.”
....
“Vì vậy, mong hai người được hạnh phúc.”
“Chúng tôi đã vô cùng hạnh phúc rồi.”
“Đúng thế, có một số cặp vợ chồng, dù <strong>sống với nhau năm chục năm cũng chẳng biết thế nào là yêu</strong>. Chuyện này <strong>chẳng can hệ gì với thời gian cả</strong>, phải vậy không?”</pre>
        <p>Người ta thưởng lầm tưởng rằng gắn bó vời nhau càng lâu thì <b>chắc chắn sẽ càng yêu nhau sâu đậm</b> hơn. Thế nhưng, ngẫm lại thì sự thật chưa chắc vậy.</p>
        <p>Đôi khi, người ta yêu nhau chỉ vì … FA nên quơ đại, vì thèm gấu ôm hoặc thèm người đi ăn chung. Có thể (nhắc lại là có thể) tình cảm sẽ nảy sinh qua thời gian dài gắn bó; nhưng cũng có thể là … tình cảm <b>méo quan hệ gì với thời gian</b> cả!</p>
        <p>Thế nên trên Voz mới có những chuyện vài cặp đôi yêu nhau 3-5 năm, đùng một phát thanh niên <b>phát hiện mình bị cắm sừng</b> vì người yêu lỡ “cảm nắng” một ai đó, vì “anh ấy khiến em cảm thấy được yêu thực sự, không phải như anh” … hay đại loại thế.</p>
        <div style="text-align:center; margin-top: 5%; margin-bottom: 5%">
            <img src="~/images/Stories/anhminhhoa2.jpg" loading="lazy" width="40%" alt="ảnh minh họa" />
        </div>
        <h2>Kinh nghiệm … đôi khi cũng vậy</h2>
        <p>Ủa, mà ba cái chuyện tình cảm lòng vòng này thì liên quan gì đến code??</p>
        <p>Ấy vậy mà có đấy! Thấy những người <b>bên cạnh nhau bao năm nhưng chẳng biết thế nào là yêu</b>, mình lại nghĩ đến vài bạn trẻ code bao nhiêu năm nhưng <b>không bao giờ lên được tầm software engineer, system architect</b>.</p>
        <p>Thông thường, developer được đánh giá dựa theo số năm kinh nghiệm. Người ta tưởng rằng developer có 4-5 năm kinh nghiệm sẽ <b>biết nhiều hơn và giỏi hơn</b> developer 1-2 năm (cũng giống như yêu 4-5 năm sẽ yêu nhiều hơn 1-2 năm vậy).</p>
        <p>Điều này, đôi khi chưa chắc đã đúng!</p>
        <p>Trên lý thuyết, developer có 4-5 năm sẽ tiếp xúc với nhiều công nghệ hơn, làm nhiều dự án hơn => giỏi hơn. Đây là chuyện đương nhiên.</p>
        <p>Tuy vậy, cũng có trường hợp một developer <b>gắn bó với 1 công ty mười năm</b> chỉ dùng đi dùng lại 1 công nghệ, bảo trì sửa code mấy cái dự án cũ xì.</p>
        <p>Hoặc một developer làm outsource vài năm chỉ biết <b>code theo task đã giao</b> chứ chưa bao giờ được cho làm architecture design, làm lead.</p>
        <p>Lúc này, 4 năm 10 năm kinh nghiệm cũng chỉ là 1 năm kinh nghiệm lặp đi lặp lại 4 lần, 10 lần mà thôi! Làm lâu, <b>số năm kinh nghiệm thì nhiều nhưng kinh nghiệm thật sự thì ít</b>!</p>
        <p>Cứ như vậy, bạn sẽ không phát triển được mà cứ đứng yên một chỗ. Lương cứ mãi lèo tèo, <b>không lên lương lên chức được</b> là do vậy!</p>
        <h2>Ủa, vậy anh đì vê lớp pờ phải làm sao?</h2>
        <p>Quay lại chuyện tình cảm chút nào.</p>
        <p>Để xây dựng tình cảm, thời gian bên nhau là không đủ. Hai người còn phải quan tâm lẫn nhau, xây dựng kỉ niệm bằng cách <b>đi ăn đi chơi đi du lịch</b> đi nghỉ mát rồi … đi ngủ (ngủ chong xáng nha).</p>
        <div style="text-align:center; margin-top: 5%; margin-bottom: 5%">
            <img src="~/images/Stories/anhminhhoa3.jpg" loading="lazy" width="40%" alt="ảnh minh họa" />
        </div>
        <p>Chuyện đi làm cũng vậy! Không phải chỉ cắm mặt vào code là được. Ta còn phải quan sát xung quanh, tự hỏi mình: Ngày qua ngày, mình của hôm nay <b>có giỏi hơn hôm trước</b> hay không:</p>
        <ul>
            <li>Mình có học được cách viết code tốt hơn, chất lượng cao hơn hay không</li>
            <li>Mình có học được công nghệ mới, áp dụng được nhiều công nghệ hay ho hay không</li>
            <li>Mình có học được qui trình, cách làm việc hay cải tiến qui trình hay không</li>
            <li>Mình có được giao nhiều trách nhiệm hơn (design system hoặc module thay vì code, trò chuyện với khách hơn, lead team, deploy và monitoring) hay không</li>
            <li>Mình có được trải qua nhiều dự án, giải quyết <b>các vấn đề thực sự</b> của người dùng không</li>
        </ul>
        <p>Các bạn thấy đấy, không phải cứ đi làm là sẽ có kinh nghiệm, mà quan trọng là môi trường làm việc, công ty làm việc nữa!</p>
        <p>
            Một năm trong team xịn của Vinagame, Zalo hoặc startup xịn, làm dự án trăm nghìn người dùng; sẽ có giá trị hơn vài năm làm ở công ty outsource, làm đi làm lại vài cái web bán hàng, web tin tức app quảng cáo!
        </p>
        <h2>Tạm kết</h2>
        <p>Tóm lại, mình chỉ có một lời khuyên nho nhỏ với những bạn đã đi làm hoặc mới ra trường:</p>
        <ul>
            <li>Để phát triển trong ngành, hãy tìm một công ty tốt, nơi mình có thể <b>phát triển bản thân</b>, ngày một giỏi hơn.</li>
            <li>Nếu sau 1, 2 năm làm việc, cảm thấy mình dần dần không học hỏi thêm được gì, mình không tốt hơn mình một năm trước, hãy <b>tìm một môi trường phù hợp</b> để phát triển hơn</li>
            <li>Hãy chắc chắn thứ mình thu được là <b>kinh nghiệm thực sự</b>, chứ không phải là kinh nghiệm lặp đi lặp lại</li>
            <li><b>Bonus</b>: Bạn nào có gấu, yêu lâu cũng đừng coi thường nhé. Nhớ chăm lo, yêu gấu nhiều nhiều vào nha.</li>
        </ul>

    </div>
</div>
